@import '../../styles/variables';

.button {
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  user-select: none;
  background: linear-gradient(#4bd8b5 0%, #49d6df 100%);

  .wrapper {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: $global-white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
