.home-container {
}
main {
  max-width: 100%;
  height: 100vh;
  background-image: url('../public/mainBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
