@import './variables';

.container {
  padding: 100px 0 0 0;

  h1 {
    font-size: 9rem;
    color: $global-white;
    font-weight: 900;
  }
}

.slider {
  position: relative;
  max-width: 800px;
  max-height: 420px;
}

.wrapper {
  display: flex;
  gap: 20px;
  color: white;
}
