@import './variables';

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 94px;
  background-color: $global-white;
  color: black;
  font-family: Roboto, sans-serif;
  .logo {
    font-size: 3.6rem;
    font-weight: 900;
    padding-left: 40px;
    line-height: 3rem;
    letter-spacing: 0ch;
    .status {
      font-size: 1.8rem;
      letter-spacing: 0.4rem;
      line-height: 1.6rem;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-size: 1.6rem;
    a.active {
      color: red;
      font-size: 40px;
    }
  }
  .theme {
    width: 200px;
    height: 100%;
  }
}

.container {
  color: $global-white;

  h1 {
    padding: 200px 0 0 0;
    font-size: 9rem;
    font-weight: 900;
  }

  :global {
    .swiper {
      max-width: 1000px;
      height: 460px;
      margin: 0;
      position: absolute;
      right: 3px;
    }
    .swiper-wrapper {
      .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.7);
      }
    }
  }
}
