@import './variables';

.container {
  padding: 100px 0 0 0;
  color: $global-white;

  h1 {
    font-size: 9rem;
    font-weight: 900;
  }

  :global {
    .swiper {
      max-width: 1000px;
      height: 460px;
      margin: 0;
      position: absolute;
      right: 10px;
    }
    .swiper-wrapper {
      .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.7);
      }
    }
  }
}
